* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', Arial, Helvetica, sans-serif;
}

/* two containers */

.first-container {
 width: 1200px;
 height: 100px;
 margin: 30px;
 background-color: white;
}

.second-container {
width: 900px;
margin: auto;
}

#logo {
width: 60px;
margin: 10px 0;
margin-left: 10px;
vertical-align: middle;
}

.toboolist {
display: inline-block;
font-size: 18px;
color: black;
}

.button {
margin: 5px;
padding: 8px;
border-radius: 7px;
}


.button.one {
color: white;
background-color: rgb(22, 151, 238);
}

.button.two {
color: #708090;
background-color: white;
border: 1px solid #708090;
}

.row {
padding: 5px;;
color: #708090;
}

.arrow {
padding: 4px;
font-size: 30px;
vertical-align: middle;
}

.title {
display: inline-block;
margin-top: 20px;
line-height: 15px;
}

.item {
line-height: 30px;;
}

.check {
margin: 15px;
padding: 3px;
font-size: 9px;
color: #00FA9A;
border: 1px solid #00FA9A;
border-radius: 50%;
}

.notdone {
margin: 15px;
padding: 3px;
font-size: 9px;
color: red;
border: 1px solid red;
border-radius: 50%;
}

.label {
width: 20px;
margin: 5px;
padding: 5px;
font-size: 9px;
color: white;
border-radius: 7px;
}

.label.lightblue {
background-color:#1E90FF;
}

.label.purple {
background-color: #483D8B;
}

.label.lightgreen {
background-color: #2E8B57;
}

.label.orange {
background-color: #FFA500;
}

.label.pink {
background-color: #DB7093;
}

.label.green {
background-color: #6B8E23;
}

.label.secondlightblue {
background-color: #008B8B;
}